p {
    /* 
    Purple is my favorite color!
    Rebeccapurple is the best purple.
    */
    color: rebeccapurple;
    text-decoration: line-through;
}

li {
    color: plum;
}

a {
    color: red;
}

#mostFavorite {
    text-decoration: underline;
    font-weight: bold;
    color: green;
}

.favorite {
    color: orangered;
    font-weight: bolder;
}